extends layout

block content

    form(action="/register" methoed="POST")
        label First name
        input(type="text", name="firstname")
        br
        label Surname
        input(type="text", name="surname")
        br
        label Email
        input(type="text", name="email")
        br
        label Password
        input(type="text", name="password")
        br
        label Password repeart
        input(type="text", name="password2")
        br 
        button(type="button", name="GO") Go




